@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;600;700&display=swap');

:root {
    --primary-color: #fde047;
}

body {
    font-family: 'Mali', cursive;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.navigation {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navigation .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .image img {
    width: 70px;
    height: 70px;
}

.btn-translate {
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    font-family: 'Mali', cursive;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    border: 1px solid black;
}

.title {
    margin: 0 auto;
    width: max-content;
    font-size: 2rem;
    padding: 1rem;
}

.txtarea {
    display: block;
    width: 40%;
    height: 20vh;
    margin: auto auto 1rem;
    padding: 1rem;
    border: 1px solid black;
    font-family: 'Mali', cursive;
    font-size: 1rem;
    resize: none;

}

.output-text {
    font-size: larger;
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: max-content;
    margin: 0 auto;
    font-weight: 600;
}

.output {
    border: 1px solid black;
    width: 40%;
    height: 20vh;
    margin: 1rem auto auto;
    padding: 1rem;
    font-size: 1rem;
    overflow-y: scroll;
}

.footer {
    background-color: var(--primary-color);
    margin-top: auto;
    min-height: 100px;
}

.footer .footer-txt {
    max-width: 50%;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
    font-size: 1.1rem;
    padding: 1rem;
}